/****  

DISPLAY: 
    Things that effect the box-model or positioning.
    EX: heighe, width, box-size padding, margin, float, clear, overflow;
TYPE: 
    Things that have to to with type
    EX: font-family, color, weight;
DECORATION:
    Visual styles.
    EX: background, background-color, border, radius;
ANNIMATION: Interaction properties
    EX: transitions, annimations, cursor changes;

****/

///////Ashley Version///////

///type-colors///
$a-base-color:  #111111 !default; // black
$a-link-color:  #0066C0 !default; // blue
$a-attainability-color:  #008a00 !default; // green
$a-price-color:  #B12704 !default; // red
$a-state-color:  #C45500 !default; // orange
$a-secondary-color:  #555555 !default; // dark grey
$a-tertiary-color:  #767676 !default; // medium grey

////element-colors////
$a-box-alternative:  #F3F3F3 !default; // grey
$a-border:  #DDDDDD !default; // light light grey

//structural-colors
$a-border-color: #ddd !default; // Light gray border
$a-border-color-variant: #e7e7e7 !default; // even LIGHTER gray border
$a-thumb-border: #e0e0e0 !default;
$a-alternate-background-color: #f3f3f3 !default; // Light gray bg
$a-offset-background-color: lighten($a-alternate-background-color, 1%) !default; // even LIGHTER gray bg
$a-base-background-color: #fff !default; // White bg
$a-nav-gradient-end: #eee !default;

//desktop-text-size
$a-desktop-text-size-mini: 11px;
$a-desktop-text-size-small: 12px;
$a-desktop-text-size-base: 13px;
$a-desktop-text-size-medium: 17px;
$a-desktop-text-size-large: 21px;
$a-desktop-text-size-extra-large: 28px;

//desktop-spacing
$a-desktop-spacing-micro: 4px;
$a-desktop-spacing-mini: 6px;
$a-desktop-spacing-small: 10px;
$a-desktop-spacing-base: 14px;
$a-desktop-spacing-medium: 18px;
$a-desktop-spacing-large: 22px;
$a-desktop-spacing-extra-large: 26px;
$a-desktop-spacing-double-large: 44px;

//mobile-spacing
$a-mobile-spacing-micro: .4rem;
$a-mobile-spacing-mini: .5rem;
$a-mobile-spacing-small: .9rem;
$a-mobile-spacing-base: 1.3rem;
$a-mobile-spacing-medium: 1.7rem;
$a-mobile-spacing-large: 2.1rem;
$a-mobile-spacing-extra-large: 2.5rem;
$a-mobile-spacing-double-large: 4.2rem;


.grid {
  width: 80%;
  margin: 0 auto; 
  margin-bottom: 10px;
  margin-top: 30px;
}

a {
  text-decoration: none;
}
 
.header__wrapper {
  background: #232f3e;
  box-shadow: inset 0 2px 0 #1db4ff;
}

.header {
  height: 96px;
  margin: 0 auto;

  background-image: url("../images/Banner.png");
  background-size: cover;
}

.list__item {
  margin-bottom: 10px;
  padding-bottom: 15px;
  padding-top: 20px;

  border-bottom: 1px solid #eee;
}

.list__item__header {
  color: #1db4ff;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  text-decoration: none;

  cursor: pointer;
}



.list__item--hover:hover .list-item-image .list-item-header{
  background: #eee;
  color: #eee;
}

.list-item-hover:hover .list-item-header {
  color: #eee;
}

.list__item__image {
  box-sizing: border-box;
  width: 100%;
  float: left;
  border: 1px solid #eee;
  padding: 4px;
  margin-right: 12px;
}

.list__item__description{
  margin-top: 5px;

  text-decoration: none;
  font: 12px black sans-serif;
  line-height: 1.5;
}

.list__item__date {
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;

  font-size: 10px;

  color: #bbb;
}

.list__item__price--list {
  display: inline-block;

  text-decoration: line-through;

  color: #bbb;

}

.list__item__price--buy {
  padding-bottom: 5px;
  display: inline-block;

  font: bold 14px sans-serif; 
  line-height: 20px;

  color: #b12704;
}


.list__item__button--twister {
  height: 20px;
  padding: 6px;
  display: block;

  text-align: center;
  float: left;
  font: 12px Arial, sans-serif;

  background: -moz-linear-gradient(bottom, #f7f8fa, #e7e9ec);
  background: -webkit-linear-gradient(bottom, #f7f8fa, #e7e9ec);
  background: linear-gradient(bottom, #f7f8fa, #e7e9ec);
  border-radius: 3px;
  border: 1px solid #adb1b8;
}

.list__item__button--add-to-cart {
  width: 115px;
  height: 50px;
  padding: 6px;

  text-align: center;
  list-style: none;
  border: 1px solid #a88734;  
  font-size: 12px;
  font-family: sans-serif;

  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  color: #000;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}

.text:hover {
  color: #000;
}

.list__item__button--twister:focus {
  outline: none;
  border-color: #FFA500;
  background: #ffcb6b;
}

.icon--prime {
  margin-bottom: 15px;
  width: 52px;
  height: 16px;
  display: block;

  vertical-align: baseline;

  background-position: -5px -489px;
  background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/amazonui/sprites/aui_sprite_0037-1x._V1_.png%22");
}

.list__item__button--twister:hover {
  background: #fdd58c;
}
