body { 
  font-family: sans-serif;
  margin: 50px;
}
a {
  text-decoration: none;
}

.group {
	overflow: hidden;
	clear: both;
	border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.list-item-header {
	color: pink;
	margin: 5px;
	size: 14px;
	font-weight: bold;
  text-decoration: none;
}

.list-item-hover:hover .list-item-image {
  background: #eee;
}

.list-item-hover:hover .list-item-header {
  color: #eee;
}

.list-item-image {
  box-sizing: border-box;
  width: 20%;
  border: 1px solid #eee;
  float: left;
  padding: 4px;
  margin-right: 12px;
}

.list-item-date{
  display: block;
  font-size: 10px;
  color: #bbb;
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-item-description {
  text-decoration: none;
  font-family: sans-serif;
  margin-left: 21%;
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
}

.container {
  clear: both;
  overflow: hidden;
}

.button{
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border-radius: 3px;
  border: 1px solid #adb1b8;
  width: 115px;
  height: 30px;
  margin-right: 12px;
}

.text{
  color: #000;
  text-align: center;
  list-style: none;
  font-size: 12px;
  font: Arial;
  padding-left: 30px;
  padding-right: 30px
}
.text:hover{
  color: #bbb;
}

.button:focus{
  outline: none;
  border-color: #e77600;
  }

.button:hover {
  background: linear-gradient(to bottom, #e7e9ec, #f7f8fa);

}